

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
    padding: 20px 70px;

}
.anchor{
    display: flex;
    column-gap: 20px;
    
    }

    .Button_Holder{
        display: flex;
        column-gap: 10px;

    }
/* 
    button{
        width: 15rem;
        font-size: 20px;
        height: 4rem;
        border-radius: 30px;
        color: green;
    } */

 