.section3{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.text_area2{
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;}

.frame_holder{
display: flex;
justify-content: center;
margin: 15px;

}
